@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  background-color: hsl(0, 0%, 0%);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background: hsl(0, 0%, 100%);
  min-width: 375px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: hsl(233, 14%, 75%);
  background: hsla(252, 100%, 67%);
  background: linear-gradient(180deg, hsla(251, 100%, 63%,1) 0%, hsla(241, 81%, 54%,1) 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.result-title {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.result-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-width: 140px;
  min-height: 140px;
  background: hsla(241, 72%, 46%, 1);
  background: linear-gradient(180deg, hsla(255, 71%, 46%, 1) 0%, hsla(245, 87%, 58%, 0) 100%);
  margin-top: 20px;
}

.result-value-primary {
  font-size: 60px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.result-value-secondary {
  font-size: 16px;
  font-weight: 500;
}

.result-subtitle {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  color: hsl(0, 0%, 100%);
}

.result-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.summary {
  padding: 25px;
}

.summary-title {
  font-size: 18px;
  padding-bottom: 15px;
}

.summary-block1, 
.summary-block2,
.summary-block3, 
.summary-block4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}

.summary-block1 {
  background: hsl(6, 100%, 98%);
}

.summary-block2 {
  background: hsl(42, 100%, 97%);
}

.summary-block3 {
  background: hsl(173, 53%, 97%);
}

.summary-block4 {
  background: hsl(240, 71%, 97%);
}

.summary-img {
  vertical-align: text-top;
  padding-right: 10px;
}

.summary-option1 {
  color: hsl(0, 100%, 67%);
}

.summary-option2 {
  color: hsl(39, 100%, 56%);
}

.summary-option3 {
  color: hsl(166, 100%, 37%);
}

.summary-option4 {
  color: hsl(234, 85%, 45%);
}

.summary-percent {
  color: hsl(233, 14%, 75%);
  font-weight: 700;
}

.summary-button {
  color: hsl(233, 14%, 75%);
  background: hsl(224, 30%, 27%);
  width: 100%;
  border-radius: 25px;
  border: none;
  padding: 15px;
  margin-top: 8px;
}

/* Rodapé Frontend Mentor */

.attribution { 
 font-size: 11px;
 text-align: center;
 color: hsl(0, 0%, 100%); 
}

.attribution a {
 color: hsl(234, 85%, 45%); 
}